.game{
    width: 255px;
    text-align: center;
    color: white ;
    margin: auto;
}
 .title{
   background-color: #f25 ;
   padding: 10px 0;
   margin: 5px 0;
}
span{
      color:#fa0 ;  
}
.square {
    width: 80px ;
    height: 80px ;
 background-color: #f25 ;
  float: left;
  margin: 2px;
  font-size: 50px;
}
.square:hover{
    background-color: blue ; 
}